@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Monkey Business Home";
}


<div>
    <h1>Hi! My preferred name is Evan</h1>
</div>
<img src="images/IMG_1374.jpg" width="400" height="500" />

<div class="center">
    <h1>My deepest hopes and desires from IS 413: </h1>
    <p>
        I hope to gain knowledge and experience from this class that I can carry forward into my life.
        I love being creative and so it's really fun to learn how to creatively implement these new tools in functional ways.
    </p>
</div>
<p>My top 3 career choices:</p>
<ol>
    <li>Entrepreneur</li>
    <li>Opthamologist</li>
    <li>Rare artifact appraiser</li>
</ol>


