body {
    font-family:'Baskerville Old Face';
    background-color:indianred;
    color:beige;
}

.center h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center p {
    display: flex;
    align-items: center;
    justify-content: center;
}

